body{
  width: 100%;
  height: auto;

  background-color: #1e272e;
  color: #ecf0f1;

  font-family: 'Exo', sans-serif;
}
a{
  text-decoration: none;
  color: #ecf0f1;
}
ul{
  list-style-type: none;
}

.App{
}

.container{
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.header{

}

.navbar-container{
  padding-left: 0;

  display: flex;
  flex-direction: row;

  align-items: center;
}
.navbar-logo{
  font-size: 0.9rem;
  text-transform: uppercase;
  
  background-color: #3c40c6;
  padding: 10px;
  border-radius: 10px;
}
.navbar-logo-desktop{
  font-size: 0.9rem;
  text-transform: uppercase;
  
  background-color: #3c40c6;
  padding: 10px;
  border-radius: 10px;
}
.navbar-items{
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.navbar-item{
  margin-right: 20px;
  text-transform: uppercase;
  transition: color 0.7s;
}
.navbar-item:hover{
  color:#808e9b;
}
.navbar-mobile{
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-right: 2em;
  margin-left: 2em;
}
.navbar-mobile i{
  margin-left: auto;
}

.header{
  display: flex;
  flex-direction: row;
  margin-top: 10em;
}
.header-left h4{
  font-size: 0.9rem;
  padding: 15px 30px;
  border-radius: 40px;
  border-bottom-left-radius: 0px;

  background-color: #3c40c6;
  width: fit-content;

  line-height: 1rem;
}
.header-left h1{
  font-size: 5rem;
  line-height: 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.header-left h3{
  font-size: 1.5rem;
  margin-top: 20px;
  line-height: 2.3rem;
  margin-bottom: 0;
}
.header-left p {
  margin-top: 0;
}
.header-left p{
  width: 50%;
  color: #808e9b;
}
.header-icons-container{
  display: flex;
  flex-direction: row;
}
.icon{
  padding: 15px 20px;
  margin-right: 10px;
  border-radius: 10px;
  transition: background-color, 1s;
}
.icon:hover{
  background-color: #3c40c6;
}

.header-right{
  margin-left: auto;
}
.img-container{
  border: 20px solid #485460;
  border-radius: 50%;
  margin: 0;
  height: 440px;
  width: auto;
}
.circle-img{
  width: 400px;
  height: auto;

  border: 20px solid #808e9b;
  border-radius: 50%;
}

.about-me{
  display:flex;
  flex-direction: row;
  align-items: center;

  margin-top: 10em;

  height: 400px;
}
.about-me-img{
  width: auto;
  height: 400px;
}
.about-me-left{
  margin-left: auto;
  width: 50%;
}
.skills-container{
  margin-top: 2em;
}
.skill{
  padding: 10px;
  border: 1px solid #3c40c6;
  border-radius: 10px;
  margin-right: 10px;

  font-size: 0.8rem;
}
.what-i-do h1{
  text-align: center;
  margin-top: 7em;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card{
  width: 350px;
  height: 250px;

  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: #161c20;
  border-radius: 20px;

  padding: 10px 20px;

  transition: margin-top 1s;
}
.card:hover{
  margin-top: 0;
}
.what-i-do-icons{
  font-size: 2rem;
}
.experience{
  margin-top: 7em;

  display: flex;
}

.experience-card{
  height: 250px;
  width: 450px;

  padding: 20px;
  margin-top: 20px;

  background-color: #161c20;
}
.school{
  color: #3c40c6;
  font-style: italic;
}
.year{
  color:#3c40c6;
  font-size: 0.9rem;
}

.work{
  margin-left: auto;
}


.experience-card ul{
  list-style-type:initial;
}

.portfolio{
  margin-top: 7em;
}
.portfolio h1{
  text-align: center;
}

.portfolio-container{
}

.portfolio-cards{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  margin-top: 3em;

  width: inherit;
  
}

.portfolio-card{

  width: 512px;
  height: 288px;

  margin-right: 2em;
  margin-top: 2em;

  position: relative;

  border-radius: 10px;
}
.portfolio-card-img{
  width: 512px;
  height: 288px;
  position: relative;
  border-radius: 10px;
}
.portfolio-card-desc{

  opacity: 0;
  transition: opacity 1s;

  width: 512px;
  height: 288px;

  background-color: rgba(60, 64, 198, 0.8);
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 10px;
}
.portfolio-card-desc:hover{
  opacity: 1;
}
.demo-github{
  display:flex;
  align-items: center;
}
.demo-github p{
  padding: 10px;
  border: 2px solid #0fbcf9;
  border-radius: 10px;
}
.demo-github span{
  padding: 10px;
  border: 2px solid #ffdd59;
  border-radius: 10px;
  margin-left: 20px;
}

.contact-me{
  margin-top: 7em;
}

.contact-me h1{
  text-align: center;
}

.contact-cards{
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.contact-card{
  height:250px;
  width: 300px;

  margin-right: 20px;

  border-radius: 10px;

  display:flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: #161c20;
}
.contact-card h2{
  margin-top:10px;
  margin-bottom: 0px;
}
.contact-icon{
  padding: 30px 33px;
  border: 1px solid #3c40c6;
  border-radius: 50%;
}

.footer{
  background-color: #0d0f11;
  height: 100px;

  display: flex;
  flex-direction: row;

  align-items: center;

  margin-top: 5em;

}
.footer h3{
  margin-left: 7em;
}
.icon-container{
  margin-left: auto;
  margin-right: 7em;
}

@media only screen and (max-width: 1140px) {
  .container{
    width:100%;
  }
  .navbar-container{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-items{
    margin-left: 0;
    align-self: center;
    flex-direction: column;
    width: 100%;

    background-color: #0d0f11;
  }
  .navbar-item{
    padding: 20px 10px;
    background-color: #0d0f11;
    width: inherit;
    margin-right: 0;
  }
  .navbar-logo-desktop{
    display:none;
  }
  .header{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .header-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header-left h1{
    line-height: 5rem;
  }
  .header-right{
    margin-left: 0;
  }
  .img-container{
    height: 340px;
    width:auto !important;
  }
  .circle-img{
    height: 300px;
    width:auto !important;
  }
  .about-me{
    flex-direction: column;
  }
  .about-me-left{
    margin-left: 0;
    text-align: center;
  }
  .about-me-img{
    height: 300px;
    width: auto;
  }
  .skills-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .skill{
    margin-top: 10px;
  }
  .what-i-do{
    margin-top: 34em;
  }
  .cards-container{
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 300px;
    height: 230px
  }
  .experience{
    flex-direction: column;
    align-items: center;
  }
  .experience-card{
    width: 300px;
    height: 300px;
  }
  .work{
    margin-left: 0;
    margin-top: 20px;  
  }
  .portfolio-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;

    align-items: center;

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .portfolio-card{
    flex: 50%;
    
    width:350px;
    height: 250px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
  }
  .portfolio-card-img{
    width: 350px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
  }
  .portfolio-card-desc{
    width: 350px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
  }
  .contact-cards{
    flex-direction: column;
    align-items: center;
  }
  .contact-card{
    margin-top: 2em;
    margin-right: 0;
  }
  .footer{
    flex-direction: column;
    align-items: center;
  }
  .footer h3{
    margin-left:0;
  }
  .icon-container{
    margin-left: 0;
    margin-right: 0;
  }
}



/* ADMIN */

.main{
  display: flex;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: 50px;
}
.side-menu{
  width: 20%;
  height: 100%;

  cursor: pointer;
}
.side-menu-item span{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.side-menu-item span i {
  margin-right: 10px;
  font-size: 2rem;
}
.side-menu-item span h3{
  font-size: 1.2rem;
  margin-top: 24px;
  margin-bottom: 20px;
}

.side-menu-item a{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.side-menu-item a i {
  margin-right: 10px;
  font-size: 2rem;
}
.side-menu-item a h3{
  font-size: 1.2rem;
  margin-top: 24px;
  margin-bottom: 20px;
}

.projects-text{
  font-weight: 300;
  font-size: 2rem;
}

.content{
  width: 80%;
}

.content-items{
  display: flex;
  flex-wrap: wrap;
}

.content-items > div{
  flex: 25%;
}

.item-button{
  padding-left: 40px;
  padding-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #384855;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 20px;
  margin-left: 0;

  cursor: pointer;

}
.item-button h3{
  color: #ecf0f1;
}
.colored-dot{
  background-color: #d63643;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
}

.project-text-container{
  display: flex;
  flex-direction: row;
  align-items:  center;
}
.plus-icon{
  font-size: 1.5rem;
  margin-left: 15px;
  cursor: pointer;
}
.back-icon{
  font-size: 1.3rem;
  margin-right: 15px;
  cursor: pointer;
}

.project-input-container{
  display: flex;
  flex-direction: column;
}
.project-input-container h3{
  font-weight: 400;
}

.project-input{
  padding-left: 20px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 25vw;

  font-family: 'Exo', sans-serif;

  outline: none;

}

.project-img{
  width: 512px;
  height: 288px;

  margin-top: 20px;
}
.project-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
}
.bg-red{
  background-color: #e74c3c !important;
  margin-right: 10px;
}
.finish-button{
  background-color: #3c40c6;
  padding: 5px 10px;
  border-radius: 10px;

  width: fit-content;
  cursor: pointer;
}
.finish-button h3:hover{
  color: #d9dbdb
}
.finish-button h3{
  line-height: 0.7rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.input-bg-dark{
  background-color: #f0f0f0;
  color: #1e272e;

  border: 0;
}

.create-button{
  width: 100%;

  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;

  margin-top: 20px;
  padding: 10px 0;

  background-color: #384855;
  color: #f0f0f0;

  border: 0;
  

}


.login-container{
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
  justify-content: center;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-text{
  font-weight: 300;

}
.login-input{
  width: 300px;
  height: 40px;
  font-size: 15px;

  background-color: #161c20;
  outline: none;
  border: 1px solid #3c40c6;
  color: white;
}
.login-button{
  width: 300px;
  height: 40px;

  background-color: #3c40c6;
  color: white;
  border: 1px solid #3c40c6;

  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  
  margin-top: 20px;
}
.login-button:hover{
  cursor: pointer;
}


@media only screen and (max-width: 1024px) {
  .main{
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .side-menu{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .project-text-container{
    margin-top: 20px;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
  .item-button{
    margin-left: 20px;
  }
}