body{
  width: 100%;
  height: auto;

  background-color: #1e272e;
  color: #ecf0f1;

  font-family: 'Exo', sans-serif;
}
a{
  text-decoration: none;
  color: #ecf0f1;
}
ul{
  list-style-type: none;
}

.App{
}

.container{
  margin-right: 15em;
  margin-left: 15em;
  margin-top: 3em;
}

.navbar-container{
  display: flex;
  flex-direction: row;
}
.navbar-logo{
  font-size: 0.9rem;
  text-transform: uppercase;
  
  background-color: #3c40c6;
  padding: 10px;
  border-radius: 10px;
}
.navbar-items{
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.navbar-item{
  margin-right: 20px;
  text-transform: uppercase;
}
